## Extracting data for Relational DataBase

SQLite Database

import package

In [4]:
#import sqlite3 package
import sqlite3

connect to database

In [7]:
#create a connection to database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

#### create table

In [9]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query for creating table
create_table = """
                CREATE TABLE classroom (
                            student_id INTEGER PRIMARY KEY,
                            name VARCHAR(20),
                            gender CHAR(1),
                            physics_marks INTEGER,
                            chemestry_marks INTEGER,
                            mathematics_marks INTEGER
                
                );"""
# Execute query
cursor.execute(create_table)
# commit changes
connection.commit()
#close connection
connection.close()

OperationalError: table classroom already exists

#### Insert Data

In [15]:
#sample data -lista de tuplas anidadas -> Lista [] Tupla ()
classroom_data = [(1, "Raj","M", 70, 84, 92),
                  (2, "Poonam","F", 87, 69, 93),
                  (3, "Nik","M",65,83,90),
                  (4,"Rahul","F", 83, 76, 89)]
#Open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    #formatted query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)
                       VALUES
                       ({0}, "{1}","{2}",{3},{4},{5});""".format(student[0],student[1], student[2],
                                                                student[3],student[4], student[5])
    #execute insert query
    cursor.execute(insert_statement)

#commint the changes
connection.commit()

#close the connection
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

#### extract Data

In [17]:
# open connection
connection = sqlite3.connect("classroomDB.db")
# open cursor
cursor = connection.cursor()
#query
query="SELECT * FROM classroom"
#execute query
cursor.execute(query)
#fetch results
result = cursor.fetchall()
#print results
for row in result:
    print(row)
#close connection
connection.close()

(1, u'Raj', u'M', 70, 84, 92)
(2, u'Poonam', u'F', 87, 69, 93)
(3, u'Nik', u'M', 65, 83, 90)
(4, u'Rahul', u'F', 83, 76, 89)

#### MySQL Database

##### Intall Package

In [19]:
#Intall package whith CONDA
#Parameter -y accept instalation and parameter -q is used for not show details out intallation
!conda install -y -q pymysql

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\ADATA\Anaconda2

  added / updated specs:
    - pymysql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.3                |           py27_0         2.8 MB
    pymysql-0.9.3              |           py27_0          84 KB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following NEW packages will be INSTALLED:

  pymysql            pkgs/main/win-64::pymysql-0.9.3-py27_0

The following packages will be UPDATED:

  conda                                       4.7.12-py27_0 --> 4.8.3-py27_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

#### Import Package

In [80]:
#When install finished, import package
import pymysql

#### connect to database

In [81]:
# Connection details
cnx={'host':'127.0.0.1',
     'username':'root',
     'password':'qwerty321',
     'db':'classroomDB'}

#Connect to the database
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
#close database
connection.close()

In [82]:
#open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
#open cursor
cursor = connection.cursor()
#query for creating table
create_table="""
             CREATE TABLE classroom (
             student_id INTEGER PRIMARY KEY,
             name VARCHAR(20),
             gender CHAR(1),
             physics_marks INTEGER,
             chemestry_marks INTEGER,
             mathematics_marks INTEGER
             );"""

#EXECUTE QUERY
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

#### Insert Data

In [83]:
#sample data
classroom_data = [(1,"Raj","M",70,84,92),
                  (2,"Poonam","F",87,69,93),
                  (3,"Nik","M",65,83,90),
                  (4,"Rahul","M",83,76,89)]
#Open Connection
connection=pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
#open cursor
cursor=connection.cursor()
#insert each student record
for student in classroom_data:
    #formatted query string
    insert_statement = """INSERT INTO classroom
                       (student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)
                       VALUES
                       ({0}, "{1}","{2}",{3},{4},{5});""".format(student[0],student[1], student[2],
                                                                student[3],student[4], student[5])
    #execute insert query
    cursor.execute(insert_statement)

#commint the changes
connection.commit()

#close the connection
connection.close()

In [84]:
# open connection
connection = pymysql.connect(cnx['host'],cnx['username'],cnx['password'],cnx['db'])
# open cursor
cursor = connection.cursor()
#query
query="SELECT * FROM classroom"
#execute query
cursor.execute(query)
#fetch results
result = cursor.fetchall()
#print results
for row in result:
    print(row)
#close connection
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'M', 83, 76, 89)

### Microsoft SQL Server

#### Intall package

In [150]:
!pip install pypyodbc

Requirement already satisfied: pypyodbc in c:\users\adata\anaconda2\lib\site-packages (1.3.4)
Requirement already satisfied: setuptools in c:\users\adata\anaconda2\lib\site-packages (from pypyodbc) (44.0.0.post20200106)

DEPRECATION: Python 2.7 will reach the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 won't be maintained after that date. A future version of pip will drop support for Python 2.7. More details about Python 2 support in pip, can be found at https://pip.pypa.io/en/latest/development/release-process/#python-2-support

#### import package

In [151]:
import pypyodbc as podbc

#### connect to database

In [157]:
cnxn = podbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                  "SERVER=(localdb)\mssqllocaldb;"
                  "DATABASE=CentroMedico;"
                  "UID=daemon;"
                  "PWD=gomugomu123;")

#### Create Table

In [180]:
cnxn = podbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                  "SERVER=(localdb)\mssqllocaldb;"
                  "DATABASE=CentroMedico;"
                  "UID=daemon;"
                  "PWD=gomugomu123;")

cursor = cnxn.cursor()

sql = "SELECT * FROM Especialidad"

cursor.execute(sql)

for row in cursor.fetchall():
    print (row)
    
#close connection
cnxn.close()

(1, 'TRAUMATOLOGIA')
(2, 'INTERNISTA')
(3, 'ANESTESEOLOGIA')
(4, 'ONCOLOGO')
(5, 'UROLOGO')
(6, 'DERMATOLOGO')

#### Create new table

In [179]:
cnxn = podbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                  "SERVER=(localdb)\mssqllocaldb;"
                  "DATABASE=CentroMedico;"
                  "UID=daemon;"
                  "PWD=gomugomu123;")

cursor = cnxn.cursor()
#query for creating table
create_table="""
             CREATE TABLE classroomDoctor (
             student_id INTEGER PRIMARY KEY,
             name VARCHAR(20),
             gender CHAR(1),
             physics_marks INTEGER,
             chemestry_marks INTEGER,
             mathematics_marks INTEGER
             );"""

#EXECUTE QUERY
cursor.execute(create_table)
#commit changes
cnxn.commit()
#close connection
cnxn.close()

#### Insert Data

In [209]:
#sample data
classroom_data = [(1,"Raj","M",70,84,92),
                  (2,"Poonam","F",87,69,93),
                  (3,"Nik","M",65,83,90),
                  (4,"Rulo Tisa","M",83,76,89)]
#Open Connection
cnxn = podbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                  "SERVER=(localdb)\mssqllocaldb;"
                  "DATABASE=CentroMedico;"
                  "UID=daemon;"
                  "PWD=gomugomu123;")
#open cursor
cursor=cnxn.cursor()

insert_statement = ("INSERT INTO classroomDoctor"
                    "(student_id, name, gender, physics_marks, chemestry_marks, mathematics_marks)"
                    "VALUES (?,?,?,?,?,?),(?,?,?,?,?,?),(?,?,?,?,?,?)")
   
values = [2,"Poonam","F",87,69,93,
          3,"Nik","M",65,83,90,
          4,"Rulo Tisa","M",83,76,89]

#execute insert query
cursor.execute(insert_statement,values)
#commint the changes
cnxn.commit()

#close the connection
cnxn.close()

#### Extract Data

In [212]:
cnxn = podbc.connect("DRIVER={ODBC Driver 17 for SQL Server};"
                  "SERVER=(localdb)\mssqllocaldb;"
                  "DATABASE=CentroMedico;"
                  "UID=daemon;"
                  "PWD=gomugomu123;")

cursor = cnxn.cursor()

sql = "SELECT * FROM classroomDoctor where student_id=4"

cursor.execute(sql)

for row in cursor.fetchall():
    print (row)
    
#close connection
cnxn.close()

(4, 'Rulo Tisa', 'M', 83, 76, 89)